[submodule "libraries/DallasTemperature"]
	path = libraries/DallasTemperature
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
